@import "custom";
@import "~bootstrap/scss/bootstrap";

.page-link {
  background-color: #343a40;
  color: #fff;
  border-color: #454d55;
}

.page-link:hover {
  background-color: #454d55;
  color: #fff;
  border-color: #454d55;
}

.page-item.active .page-link {
  background-color: #454d55;
  color: #fff;
  border-color: #454d55;
}

.page-item.disabled .page-link {
  background-color: #a6a6a6;
  border-color: #a6a6a6;
  color: #5c5b5b;
}

.nav-text {
  margin: 0 auto;
}


